<div class="container">
  <h2 class="text-center">What is your next trip?</h2>
  <div class="row">
    <% data.cities.each do |city, infos| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card grow">
        <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/<%= infos.name.downcase %>');">
          <div class="card-category"><h3><%= infos.name %></h3></div>
          <img src="https://cdn.countryflags.com/thumbs/<%= infos.country.downcase %>/flag-round-250.png" alt="Avatar-flag" class=" avatar-small flag">
          <div class="card-description">
            <h2>Fun fact</h2>
            <p><%= infos.description %></p>
          </div>
        </div>
        <div class="card-footer">
          <div class="card-date">
            <p>Posted on <%= Date.today.strftime("%B %Y") %></p>
          </div>
          <div class="card-links">
            <a href="#"><i class="fa fa-star"></i></a>
            <a href="#"><i class="fa fa-heart"></i></a>
            <a href="#"><i class="fa fa-share"></i></a>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
