---
title: Le Wagon - Middleman
---

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/random');">
  <div class="banner-content">
    <h1>MOCK-BNB</h1>
    <p>As many cities as I manually put in the datasheet.</p>
    <form action="#" class="form-inline">
     <select name="" id="" class="form-control input-lg banner-input-corner">
       <% data.cities.each do |city, infos| %>
          <option value=""><%= infos.name %></option>
        <%end %>
     </select>
     <input type="submit" class="btn btn-primary btn-lg banner-input-corner" value="Take me there.">
   </form>
 </div>
</div>


<div class="container">
  <h2 class="text-center">What is your next trip?</h2>
  <div class="row">
    <% data.cities.each do |city, infos| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card grow">
        <div class="card-body" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/<%= infos.name.downcase %>');">
          <div class="card-category"><h3><%= infos.name %></h3></div>
          <img src="https://kitt.lewagon.com/placeholder/users/sagnieresy" alt="Avatar" class="avatar">
          <div class="card-description">
            <h2>Fun fact</h2>
            <p><%= infos.description %></p>
          </div>
        </div>
        <div class="card-footer">
          <div class="card-date">
            <p>Posted on <%= Date.today.strftime("%B %Y") %></p>
          </div>
          <div class="card-links">
            <a href="#"><i class="fa fa-star"></i></a>
            <a href="#"><i class="fa fa-heart"></i></a>
            <a href="#"><i class="fa fa-share"></i></a>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>


